@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f7;
}

.container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 800px;
  max-width: 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

/* Forms */
.container .form {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
}

.container .sign-in-form {
  left: 0;
  z-index: 2;
}

.container .sign-up-form {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container .form .wrapper {
  text-align: center;
  padding: 0 40px;
  width: 100%;
}

.container .form h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.container .form p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.container .form input {
  display: block;
  width: 100%;
  margin: 8px 0;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  border: none;
  background-color: rgba(199, 197, 197, 0.3);
  outline: none;
  border-radius: 4px;
}

.container .form button,
.overlay-container button {
  padding: 12px 45px;
  border: 1px solid transparent;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: crimson;
  cursor: pointer;
  color: #ffffff;
  border-radius: 20px;
  transition: transform 80ms ease-in;
  margin-top: 15px;
}

.container .form button:active,
.overlay-container button:active {
  transform: scale(0.95);
}

/* Sliding animation when .active is toggled */
.container.right-panel-active .sign-in-form {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up-form {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Overlay Container */
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: crimson;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.overlay h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}

.overlay p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 15px 0;
}

.overlay-container button {
  background-color: transparent;
  border-color: #ffffff;
}